{{#if main}}
<h3 class="__renders-title">Renders</h3>
<div class="__renders-list">
    {{#if hasRenders}}
        {{#each renders}}
            <div class="__renders-item" data-id="{{id}}">
                <div class="__renders-header">
                    <span class="__renders-status">{{statusEmoji}}</span>
                    <p class="__renders-title-text">{{title}}</p>
                </div>
                <p class="__renders-date">{{timestamp}}</p>
            </div>
        {{/each}}
    {{else}}
        <p class="__renders-empty">No renders yet. Create your first render!</p>
    {{/if}}
</div>
{{/if}}
